In [37]:
import xlrd
import csv
import pandas as pd

In [38]:
print('Entrez le numéro de la ligne')
num_Ligne = input()

print('Entrez le nom de l\'arrêt')
nom_Arret = input()

Entrez le numéro de la ligne
C4
Entrez le nom de l'arrêt
1

In [54]:
doc_lignes = pd.read_excel('DOCS\listeLignes.xlsx')
doc_lignes

,Identifiant,Nom court,Nom long,Famille commerciale
0,1,C1,Cesson-Sévigné (Champs Blancs) <> Rennes <> C...,CHRONOSTAR
1,4,C4,Rennes (ZA Saint-Sulpice) <> Saint-Grégoire (G...,CHRONOSTAR
2,5,C5,Rennes (Patton) <> Rennes (Lycée Bréquigny),CHRONOSTAR
3,11,11,Rennes (La Poterie) <> Vezin-le-Coquet (ZI Ouest),Urbaine
4,12,12,Rennes (Villejean-Université) <> Saint-Grégoir...,Urbaine
...,...,...,...,...
160,453,Ts53,Saint-Erblon (Collège Saint-Paul) <> Orgères <...,Transport scolaire
161,461,Ts61,Cesson-Sévigné (Cesson Piscine) <> Cesson-Sévi...,Transport scolaire
162,467,Ts67,Saint-Gilles (Haute Fresnais) <> L'Hermitage <...,Transport scolaire
163,470,RPI-1,La Chapelle-Chaussée (Chapelle-Chaussée) <> Bé...,Transport scolaire
164,803,API,Api'Bus : Rennes (République) <> Rennes (Etang...,Spéciale

In [55]:
doc_arrets = pd.read_csv('DOCS/nomArret.csv')
doc_arrets

,Parcours (ID),Parcours (libellé court),Ligne (ID),Ligne (nom court),Point d'arrêt (ID),Point d'arrêt (nom),Ordre,Montée autorisée,Descente autorisée,Nombre personne
0,0075-B-1511-3401,NaN,75,75,3406,Eclosel,5,True,True,141
1,0075-B-2619-3401,NaN,75,75,2632,Moulin,3,True,True,98
2,0075-B-2619-3401,NaN,75,75,3407,Grée Barel,5,True,True,181
3,0075-B-2619-3401,NaN,75,75,3421,La Porte,8,True,True,486
4,0075-B-2619-3401,NaN,75,75,3402,Langlois,9,True,True,143
...,...,...,...,...,...,...,...,...,...,...
7676,0006-B-2277-2089,NaN,6,C6,1590,Jules Verne,14,True,True,15
7677,0006-B-2277-2089,NaN,6,C6,1401,Redon,16,True,True,69
7678,0006-B-2277-2089,NaN,6,C6,1168,République,19,True,True,79
7679,0006-B-2277-2089,NaN,6,C6,2019,Champs Péans,29,True,True,29
7680,0006-B-2277-2089,NaN,6,C6,2021,Hublais,31,True,True,57

In [56]:
C4 = doc_lignes.loc[doc_lignes["Nom court"] == num_Ligne]
C4

,Identifiant,Nom court,Nom long,Famille commerciale
1,4,C4,Rennes (ZA Saint-Sulpice) <> Saint-Grégoire (G...,CHRONOSTAR

In [62]:
max = doc_arrets['Nombre personne'].max()
max

500

In [72]:
C4_lignes = doc_arrets.loc[doc_arrets["Ligne (nom court)"] == num_Ligne]

C4_lignes.max()

Parcours (ID)               0004-B-2801-1630
Parcours (libellé court)                 NaN
Ligne (ID)                                 4
Ligne (nom court)                         C4
Point d'arrêt (ID)                      2801
Point d'arrêt (nom)         ZA Saint-Sulpice
Ordre                                     34
Montée autorisée                        True
Descente autorisée                      True
Nombre personne                          499
dtype: object

In [73]:
C4_lignes.min()

Parcours (ID)               0004-A-1161-1052
Parcours (libellé court)                 NaN
Ligne (ID)                                 4
Ligne (nom court)                         C4
Point d'arrêt (ID)                      1051
Point d'arrêt (nom)          Beaulieu Chimie
Ordre                                      1
Montée autorisée                        True
Descente autorisée                      True
Nombre personne                            9
dtype: object